<div ui-content-for="title">
  <span>Add plant</span>
</div>

<div class="scrollable" ui-state="searchBar">
	<div >
        <input type="file" ng-file-select="onFileSelect($files)" multiple>
    </div>
    <div class="form-group has-success has-feedback">
        <label>Plant name</label>
        <input type="text"
               ng-model="text"
               class="form-control"
               placeholder="Enter plant name">
    </div>
    <div class="form-group has-success has-feedback">
        <label>Rasp ID</label>
        <input type="text"
               ng-model="text1"
               class="form-control"
               placeholder="Enter raspberry ID">
    </div>
    <div class="form-group has-success has-feedback">
        <label>Humidity {{myDropdown}}</label>
        <div class="btn-group pull-right">
            <a ui-turn-on='myDropdown' class='btn'>
                <i class="fa fa-ellipsis-v"></i>
            </a>
            <ul class="dropdown-menu"
                ui-outer-click="Ui.turnOff('myDropdown')"
                ui-outer-click-if="Ui.active('myDropdown')"
                role="menu"
                ui-show="myDropdown"
                ui-state="myDropdown"
                ui-turn-off="myDropdown">
                <label>Humidity</label>
                <li><a>Dry soil</a></li>
                <li><a>Humid soil</a></li>
                <li><a>Wet soil</a></li>

            </ul>

        </div>
    </div>
        <div class="form-group has-success has-feedback">
            <div class="btn-group pull-left">
                <label>Max temp</label>
                <input type="text"
                       ng-model="text2"
                       class="form-control"
                       placeholder="Max temp">
            </div>

            <div class="btn-group pull-right">
                <label>Min temp</label>
                <input type="text"
                       ng-model="text3"
                       class="form-control"
                       placeholder="Min temp">
            </div>
        </div>
    <br />
    <br />
    <br />
        <div class="btn-group">
            <label>Privacy</label>
            <a ui-turn-on='myDropdown1' class='btn'>
                <i class="fa fa-ellipsis-v"></i>
            </a>
            <ul class="dropdown-menu"
                ui-outer-click="Ui.turnOff('myDropdown1')"
                ui-outer-click-if="Ui.active('myDropdown1')"
                role="menu"
                ui-show="myDropdown1"
                ui-state="myDropdown1"
                ui-turn-off="myDropdown1">
                <li><a>Private</a></li>
                <li><a>Public</a></li>

            </ul>

        </div>

    
    <div class="form-group has-success has-feedback">
        <label>About</label>
        <textarea type="textarea" rows="10"
                  ng-model="textarea"
                  class="form-control"
                  placeholder="Info about plant"></textarea></div>
        




        <div id="footer">
            <div class="btn-group justified nav-tabs">
                <a id="addPlant" class="btn btn-default" href="#/">
                    Submit
                </a>
            </div>
            <div class="btn-group justified nav-tabs">
                <a id="profile" onclick="lightUpActive(profile, plants)" class="btn btn-default" href="#/">
                    Profile
                </a>
                <a id="plants" onclick="lightUpActive(plants, profile)" class=" btn btn-default" href="">
                    Plants
                </a>
            </div>
        </div>

    </div>