<div ui-content-for="title">
    <span>Graphs</span>
</div>
<div class="scrollable">
    <div class="scrollable-content">
        <div id="plant-chart-location">
            <a ng-repeat="item in plantCount" id="{{item.id}}" href="#plantDetail" ng-controller="LineCtrl" ng-click="buttonId(item.id);">
                <h4 class="text-center"><b>{{item.name}}</b></h4>
                <canvas id="line" class="chart chart-line" data="data"
                        labels="labels" legend="true" series="series"
                        click="onClick"></canvas>
            </a>
        </div>
    </div>
</div>