<div ui-content-for="title">
    <span>Plants</span>
</div>
<div class="scrollable">

	<div class="btn-group justified">
		<a id="addPlant" class="btn btn-default active" href="#newplant">
			<i class="fa fa-3x fa-plus-square"></i>
		</a>
	</div>

	<div class="scrollable-content">
		<div class="list-group">
			<a ng-repeat="item in plants" id="{{item.id}}" href="#plantDetail" class="list-group-item" ng-click="buttonId(item.id);">
			<b>{{ item.name }}</b>, {{item.raspberry_id}} <i class="fa fa-chevron-right pull-right"></i>
			</a>
		</div>
	</div>

</div>
