<div ui-content-for="title">
    <span>New user</span>
</div>
<div class="scrollable" ui-state="searchBar">
    <div class="scrollable-content section">
        <div class="form-group has-success has-feedback">
            <label>Profile picture</label>
            <div>
                <input type="file" ng-file-select="onFileSelect($files)" multiple>
            </div>
            <div>
                <input type="email"
                       ng-model="userModel.email"
                       class="form-control"
                       placeholder="Enter email">

            </div> 
            <div>
                <input type="text"
                       ng-model="userModel.name"
                       class="form-control"
                       placeholder="My name">

            </div> 
            <div>
                <input type="text"
                       ng-model="userModel.phone"
                       class="form-control"
                       placeholder="Phone number">

            </div> 
            <div class="btn-group justified" ng-click="sendUser();" />
            <a id="addPlant" class="btn btn-default">
                Submit
            </a>
                  
        </div>   
    </div>
</div>

