<div ui-content-for="title">
    <span>Plant detail</span>
</div>

<div class="scrollable">
    <div class="scrollable-content">

        <div id="plant-info">
            <i class="fa fa-5x fa-user feature-icon text-primary pull-left"></i>
            <h3 style="position:relative; top:7px;"><b>{{plantdetail.name}}</b></h3>
            
            <br />

            <h4 style="position:relative; top:-10px;"><b>About</b></h4>
            {{plantdetail.about}} 
            <a id="{{ plantdetail.id }}" ng-click="buttonId(plantdetail.id)" href="#editplant" style="font-size:12px;"><b>(Edit)</b></a>
            <br /><br />
            
                <!--Kastmise ja valgustuse nupud.-->    

                <a id="btn-plantdetail" class="btn btn-default" href="">
                    <i class="fa fa-2x fa-cloud"></i>
                </a>
                <a id="btn-plantdetail" class="btn btn-default" href="">
                    <i class="fa fa-2x fa-lightbulb-o"></i>
                </a>

            <!--Graafikud.-->

            <hr />
            <br />
            <b>Temperature</b>
                <canvas id="line" class="chart chart-line" data="data"
                        labels="labels" legend="false" series="series"
                        click="onClick"></canvas><hr />
            <b>Humidity</b>
                    <canvas id="line" class="chart chart-line" data="data"
                            labels="labels" legend="false" series="series"
                            click="onClick"></canvas><hr />
            <b>Sunlight</b>
            <canvas id="line" class="chart chart-line" data="data"
                    labels="labels" legend="false" series="series"
                    click="onClick"></canvas><hr />
            <h4><b>Notes</b>
            <a>
                <i class="fa fa-plus" style="float:right; right:2px;"></i>
            </a>
            </h4>
            
            <!--Siia tulevad märkmed.-->

        </div>
    </div>
</div>

