<div class="scrollable">

	<div class="btn-group justified">
		<a id="addPlant" class="btn btn-default active" href="#newplant">
			<i class="fa fa-3x fa-plus-square"></i>
		</a>
	</div>

	<div class="scrollable-content">
		<div class="list-group">
			<a id="{{ item.id }}" ng-repeat="item in plants" href="#editplant" class="list-group-item">
			<b>{{ item.name }}</b>, <font color="navyblue">{{item.raspberry_id}}</font> <i class="fa fa-chevron-right pull-right"></i>
			</a>
		</div>
	</div>

</div>
