<div class="scrollable">
	<div class="scrollable-content">
		
		<div class="list-group-item list-group-item-home media text-justify">
			<div id="info">
				<i class="fa fa-user feature-icon text-primary pull-left"></i>
				<h1>{{user[0].name}}</h3>
				<p>Last login</p>
			</div>
		</div>
		
		<div class="list-group-item list-group-item-home media text-justify">
			<a href="#plantslist"><h3>Plants</h3></a>
		</div>
		
			<div class="list-group-item list-group-item-home media text-justify">
			<a href="#badgeslist"><h3>Badges</h3></a>
		</div>

        <div class="list-group-item list-group-item-home media text-justify" ng-click="logoff();">
            <a><h3>Logoff</h3></a>
        </div>

    </div>
</div>